<h3>Inbox</h3>
<%= render 'search' %>
<%= link_to 'New Conversation', new_conversation_path %><br />
<%= link_to 'Sent', sent_conversations_path %><br />
<div id='conversations'>
	<%= render 'received_conversations', :conversations => @received_conversations %>
</div>