<h3>About the project</h3>
<p>Project Avocado v1.0. BETA was started 3/30/11 to mimic a simplified version of the Facebook messaging system.  The purpose is to practice programming in RoR.</p>
<p>There is no styling done yet, which is why the website looks horrible.  The focus thus far has been only on functionality.</p>
